body{
    background-color: (whitesmoke);
    text-align: center;
    display: inline;
}
h1{
    background-color: antiquewhite;
    text-align: center;
}
.add-task {
    background-color: whitesmoke;
    padding: 20px;
    display: block;
}
ul {
    list-style: square;
    padding: 0;
} 
li {
    padding: 10px 0;
}
button {
    padding: 8px 15px;
    background-color: rebeccapurple;
    color: white;
    font-size: 14px;
}
.image{
    width: 160px;
    height: 180px;
 
}